run = "npm start"
modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-23_11"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Main Server"

[[workflows.workflow]]
name = "Main Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[deployment]
deploymentTarget = "cloudrun"
