services:
  - type: web
    name: wasel-amin
    env: docker
    plan: free
    region: oregon
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
      - key: JWT_SECRET
        value: wasel_secret_key_1994_secure
      - key: NODE_VERSION
        value: 20
